@using HW2.Services
@model Students
@{
    ViewData["Title"] = "Студенты";
}

@inject ITestService service

<div>@service.GetString()</div>
<div id="students">
    <a class="btn btn-primary" href="@Url.Action("CreateStudent", "Students")">Добавить студента</a>
    <h5>
        <b>@Html.DisplayFor(x => x.List)</b>
    </h5>
</div>